.block-banners__item {
  border-radius: 16px;
}
.block-banners__item.background:before {
  background: unset;
}

.block-banners__item--style--two .block-banners__item-title {
  padding: 10px;
  border-radius: 8px;
}
