@media (max-width: 480px) {
  .block-banners-images__item img {
    width: 180px !important;
    height: unset !important;
  }


}

  .block-banners-images .container:before,
  .block-banners-images .container:after {
    content: unset !important;
  }

  .block-banners-images .container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }

  .block-banners-images__item {

  }

  .block-banners-images__item img {
    width: auto; /* Изображение внутри растягивается */
    max-height: 180px; /* Пропорции сохраняются */
    display: block;
    border-radius: 10px;
  }


