.block-slideshow__item  {
  height: 240px;
}

.owl-stage-outer, .block-slideshow__item-image.block-slideshow__item-image--desktop {
  border-radius: 16px;
}

.block-slideshow__item {
  padding: 40px 80px;
}

.block-slideshow__item-title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}

.block-slideshow__carousel .owl-dots {
  bottom: 20px;  
}



