.alert.alert-primary a {
  padding: 10px;
  padding-left: 20px;
  border-radius: 10px;
}
.alert.alert-primary {
  border-radius: 14px;
}

#order-form button.btn.btn-block {
  border-radius: 10px;
}
#order-form .form-control {
  border-radius: 10px;
  background-color: #fff;
}
#order-form input , textarea {
  background-color: #fff;
  border-radius: 10px;
}
body > div.site > div > div.checkout.block > div > div > div.col-12.col-lg-6.col-xl-5.mt-4.mt-lg-0 > div > div > button {
  border-radius: 10px;
}

