.page-link {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}

.page-item:first-child .page-link, .page-item:last-child .page-link {
  border-radius: 5px;
}

.products-view__pagination {
  border-radius: 10px;
}
