.product__card.product__card--one, .product-card {
  border-radius: 10px;
}

.product__actions-item--addtocart button {
  border-radius: 10px;
}

.form-group.field-quantity input {
  border-radius: 10px;
}

.product__tabs.product-tabs--layout--sidebar {
  border-radius: 10px;
}

.product__info-card {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.product__shop-features.shop-features {
  border-radius: 10px;
}

