.widget-categories-list__child-item.active a {
  color: #0064f0;
  font-weight: 500;
}

.products-list__item, .products-view__options.view-options {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.product-card__addtocart-full.cart-add, .product-card__addtocart-full.cart-open {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}


.image--type--category .image__body {
  padding-bottom: 60%;
}

/*.filter-collections.hidden {*/
/*  visibility: hidden;*/
/*}*/

/*.products-list[data-layout="list"] .product-card .product-card__image {*/
/*  padding: 0px 24px;*/
/*}*/

.widget-filters--offcanvas--mobile {
  background-color: #fafafa;
}

.widget-categories-list__body {
  padding: 20px;
}

.card {
  border-radius: 10px;
}

.widget.widget-filters.widget-filters--offcanvas--mobile {
  border-radius: 10px;
}

.widget-filters__actions.d-flex button {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}
.widget-filters__actions {
  justify-content: flex-end;
  flex-direction: column;
}

.product_attribute--value {
  color: #000;
}
.product_attribute {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.products-list[data-layout="grid"] .product-card .product-card__fit .status-badge__text {
  display: block !important;
}

.product-card form {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: available;
}

.products-list[data-layout="grid"] .product-card {

  justify-content: space-between;
}

.products-list[data-layout="grid"] .product-card:after {
  display: block;
  position: static;
  content: unset;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.products-list[data-layout="grid"] .product-card .product-card__footer {
  width: -webkit-fill-available;
}

.product-card__footer .in-cart {
  color: #000;
}

product-card__footer > button.product-card__addtocart-icon.data-icon.cart-open {

  background: transparent;
}


.product-card:hover .product-card__addtocart-icon .fa-cart-plus {
  /*-webkit-transform: scale(0.5);*/
  /*transform: scale(0.5);*/
  color: #000;
}


