.products-list__item, .products-view__options.view-options {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.product-card__addtocart-full.cart-add, .product-card__addtocart-full.cart-open {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/*.products-list[data-layout="list"] .product-card .product-card__image {*/
/*  padding: 0px 24px;*/
/*}*/


