.header__search .search__dropdown {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 600px;
}

.search__dropdown .suggestions__group {
  height: 400px;
  overflow-y: auto;
}

.suggestions__product-image  {

  border: 0px;
}

.suggestions__product {
  align-items: center;
}

.suggestions__product-image:before {
  content: unset !important;
}
